.cards {
    display: flex;
    gap: 5px;
}

.cards-item {
    width: 37px;
    height: 23px;
    border-radius: 15%;
    border: solid 1px #cbcbcb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.visa {
    background-image: url(61f4db3f6dd7e10ba8f7.svg);
}

.mastercard {
    background-image: url(9ab53ec8084b07b7d031.svg);
}

.mir {
    background-image: url(61f4db3f6dd7e10ba8f7.svg);
}

.amex {
    background-image: url(b53d1cd91333b41f8933.svg);
}

.grayscale {
    filter: grayscale(1);
}

.validator-widget-form {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.validator-widget-input {
    padding: 0 10px;
    width: 180px;
    height: 30px;
    border: solid 2px #cbcbcb;
    border-radius: 5px;
}

.cross-btn {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 6px;
    left: 178px;
    width: 21px;
    height: 21px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #cbcbcb;
    border-radius: 50%;
    border: solid 2px #cbcbcb;
}

.cross-btn:hover {
    cursor: pointer;
    color: #000000;
    border: solid 2px #000000;
}

.hidden {
    display: none;
}

.validator-widget-button {
    padding: 10px 15px;
    color: #ffffff;
    background-color: #5eb462;    
    border: solid 2px #4faa54;
    border-radius: 5px;
    border: none;
}

.error-panel {
    color: red;
}

